@model ListenAndWrite.Models.DataModel.Account
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    <div class="container">



        <div class="form-sign-up">
            <div class="row">
                <div class="col-md-6">
                    <h3>Sign Up with new ID</h3>
                    <form action="">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName)
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName)
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email)
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password)
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="pwd">Cofirm password:</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <button type="submit" class="btn btn-default btn-lg">Submit</button>
                    </form>
                </div>
            </div>

        </div>


    </div>
}

